################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fixme/config/applicationhost.config
/.vs/slnx.sqlite
